<h1>My Queue</h1>
<h2><%=@q.name%></h2>
<%= form_for(@q) do |f| %>
<ul id="queue">
  <% @q.entries.each do |entry| %>
  <li id="<%=entry.id%>"><div class="handle">H</div><%=entry.title%></li>
  <% end %>
</ul>
<input type="text" id="sort_order" name="sort_order" value="" />
<%= f.submit %>
<% end %>
<script>
  $(document).ready(function() { 
    $('#queue').sortable( { 
        handle: ".handle",
        update: function() {
          $('#sort_order').val($('#queue').sortable('toArray'));
        }
      }).disableSelection();
  });
</script>
